- @metrics.each do |namespace, metrics|
  %h1= namespace
  %table
    %thead
      %tr
        %th Measure
        %th Dimensions
        %th
        %th
    %tbody
      - metrics.each do |metric|
        %tr
          %td
            - if metric['Dimensions']
              - link = "/metrics/#{metric['Namespace'].gsub('/','_')}/#{metric['MeasureName']}/#{metric['Dimensions']['member'][0].values[0]}/#{metric['Dimensions']['member'][0].values[1]}"
              %a{:href => link}= metric['MeasureName']
            - else
              - link = "/metrics/#{metric['Namespace'].gsub('/','_')}/#{metric['MeasureName']}"
              %a{:href =>  link}= metric['MeasureName']
          - if metric['Dimensions']
            %td= metric['Dimensions']['member'][0].values.inspect
          - else
            %td
          %td
            %a{:href => link + '/5'} 5 Days
          %td
            %a{:href => link + '/30'} 1 Month
